.header{
    text-align: center;
}
.header img{
    height: 80px;
}
.links{
    background-color: black;
    line-height: 40px;
    text-align: left;
}
.links ul{
    list-style: none;
}
.links ul li{
    display: inline-block;
    margin-right: 20px;
}
.links ul li a{
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    box-sizing: border-box;
}

.links ul li a:hover{
    background-color: lightgrey;
    color: black;
}